<% extend 'layout' %>

<% if @error : %>
<p class="message">Invalid username or password.</p>
<% end %>

<form method="post" action="/login" class="loginForm pure-form">
  <div class="loginForm-row">
    <label for="name">Username</label>
    <input id="name" type="text" name="username" placeholder="user">
  </div>

  <div class="loginForm-row">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="pass">
  </div>

  <div class="loginForm-action pure-controls">
    <button type="submit" class="pure-button pure-button-primary">login</button>
  </div>
</form>
